@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{

/* Fonts */
    --title: "Abril Fatface", serif;
    --main-font: "Montserrat", sans-serif;

/* Colors */
    --dark-red:#250408;
    --red:#880D1E;
    --light-red: #DD2D4A;
    --pink: #F26A8D;
    --light-pink: #F49CBB;
    --light-blue: #CBEEF3;
    --white: #EEFAFB; 
    
    overflow: hidden;
}

/* General styles */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title);
  color: var(--dark-red);
}

body {
  font-family: var(--main-font);
  color: var(--dark-red)
}

/* welcome block */
.welcome{
  background-color: var(--light-pink);
  font-family: 'Abril Fatface';
  contain: paint;

  display: flex;
  align-items: center;
  justify-content: center;

    & .btn::before{
      display: inline;
      position: absolute;
      transform: rotate(315deg);
      font-size: clamp(2rem, 3vw, 6rem);
      translate: -75% -75%;
      content: "the luuurrrrrve generator";

      animation-name: GrowShrink;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate ;
    }
  }

/* main block */
.main{
  background-color: var(--light-red);
}

/* scroll snap effect */
html, body, section {
  block-size: 100%;
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* Form styles */

fieldset > div {
  margin-bottom: 10px;
}

fieldset > div > label {
  width: 80%;
}

fieldset > div > input {
  width: 80%
}

.card {
 background-color: var(--light-blue);
 border-color: var(--dark-red);
 border-radius: 25% 0 25% 0;
 border: 0.25rem solid;
 width: 80%;
 align-items: center;
}

#generate-btn {
  font-family: var(--title);
  font-size: x-large;
  padding: 5px;
}

/* Button styling */
.btn {
  border-color: var(--dark-red);
  border-radius: 25% 0 25% 0;
  border: 0.25rem solid;
  background-color: var(--white);

  font-size: clamp(2rem, 2vw, 5rem);;

  height: clamp(10rem, 10%, 20rem);
  width: clamp(10rem, 10%, 20rem);

  transition: height 100ms,
               width 100ms;

  &:hover {
    border-color: var(--dark-red);
    border-radius: 25% 0 25% 0;
    border: 0.25rem solid;
    background-color: var(--white);
    height: calc(clamp(10rem, 10%, 20rem)*1.1);
    width: calc(clamp(10rem, 10%, 20rem)*1.1);
    transition: height 100ms,
                width 100ms;
  &:active{
    background-color: var(--white);
  }
  }}

/**Header*/

header {
  width: 100%;
  line-height: 0.3rem;
  text-transform: uppercase;
  
  & a {
    text-decoration: none;
    color: var(--white);
  }

  & a:hover {
    text-decoration: none;
    color: var(--white) !important;
  }
  
  & li {
    border: 1px solid black;
    background-color: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    padding: 0.3rem;
  }
  & li:hover {
    background-color: var(--dark-red);
    color: var(--white) !important;
  }
}

.active {
  background-color: var(--dark-red);
  color: var(--white) !important;
}

/**Footer*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--dark-red);
    color: var(--white);
    line-height: 1.5rem;
    padding-block: 0.5rem;
  
    & ul {
      --_gap: 2rem;
      width: 100%;
    }
  
    & li {
      padding-inline: 1rem;
    }
  
    & a {
      text-decoration: none;
      text-transform: uppercase;
      color: var(--white);
    }
  
    /* Hover effects */
    & li {
      padding-inline: calc(var(--_gap) / 2);
      position: relative;
      opacity: 0.7;
      overflow: hidden;
    }
  
    & li:hover {
      opacity: 1;
    }
  
    & li::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 100%;
      background-color: var(--light-pink);
  
      scale: 0 1;
      transition: scale 250ms, translate 300ms;
    }
  
    & li:hover::after {
      scale: 1 1;
    }
  
    /* Hover effect left to right */
    & li:hover + li::after {
      translate: -100%;
    }
  
    & li:has(+ li:hover)::after {
      translate: 100%;
    }
  }

  /* animations */
  @keyframes GrowShrink{
    0% {scale:1;}
    100%{scale:1.4; }
  }